@font-face {
font-family: "Poppins";
src:
    url("/assets/fonts/bbbpoppins/BBBPoppinsTN-TextRegular.woff2") format("woff2"),
    url("/assets/fonts/bbbpoppins/BBBPoppinsTN-TextRegular.woff") format("woff");
}
:root {
    --c-graph: #ddd;
    --c-bg: #eee;
    --c-pri: #90F;
    --c-sec: #90F;
    --c-acc: #0F0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica";
}
body {
    color: var(--c-pri);
    overflow: hidden;
    font-family: "Poppins";
    margin: 0;
    padding:0;
}
main {
    position: absolute;
}
#GRAPH {
    position: absolute;
    left: 50px;
    top: 100px; 
}
#GRAPH-WRAPPER {
    /* width: 50vw;
    height: 50vh; */
}
#UI-WRAPPER {
    background-color: var(--c-bg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: -1;
}

#login {
    top: 0;
    left: 0;
    z-index: 1;
}
.button {
    min-width: 100px;
}
.form-item {
    font-size: 20px;
    height: 50px;
}

button {
    border: none;
    border-style: none;
    background-color: #fff;
}
button:hover {
    border: none;
    border-style: none;
    background-color: #eee;
}
#recbtn {
    color: red;
    width: 50px;
    height: 50px;
    font-size: 30px;
    
}
#cuebtn {
    width: 50px;
    height: 50px;
}
#recText {
    width: 50px;
    height: 50px;
    stroke-width: 4;

}
.play-btn {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,3));
    width: 25px;
    height: 25px
}
.play-btn::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 7px solid;
    top: 12px;
    left: 12px;
}
#buffer {
    position: absolute;
    top: 0;
    right: 0;
}


#ilogo {
    position: absolute;
    bottom: 0px;
    left: 100px;
    width: 900px;
}
/* FLEX CLASSES */
.flexr {
    display: flex;
    flex-direction: row;
}
.flexc {
    display: flex;
    flex-direction: column;
}
.xc {
    justify-content: center;
}
.yc {
    align-items: center;
}
.xs {
    justify-content: start;
}
.ys {
    align-items: start;
}
.xs {
    justify-content: end;
}
.ys {
    align-items: end;
}