@font-face {
font-family: "Poppins";
src:
    url("/assets/fonts/bbbpoppins/BBBPoppinsTN-TextRegular.woff2") format("woff2"),
    url("/assets/fonts/bbbpoppins/BBBPoppinsTN-TextRegular.woff") format("woff");
}
:root {
    --c-graph: #ddd;
    --c-bg: #eee;
    --c-pri: #90F;
    --c-sec: #90F;
    --c-acc: #0F0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica";
}
body {
    color: var(--c-pri);
    overflow: hidden;
}
main {
    position: absolute;
}
#GRAPH {
    position: absolute;
    left: 50px;
    top: 100px; 
}
#GRAPH-WRAPPER {
    /* width: 50vw;
    height: 50vh; */
}

/* #UI-WRAPPER {
    background-color: var(--c-bg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: -1;
} */

#ilogo {
    position: absolute;
    bottom: 0px;
    left: 100px;
    width: 900px;
}
/* FLEX CLASSES */
.flexr {
    display: flex;
    flex-direction: row;
}
.flexc {
    display: flex;
    flex-direction: column;
}
.xc {
    justify-content: center;
}
.yc {
    align-items: center;
}
.xs {
    justify-content: start;
}
.ys {
    align-items: start;
}
.xs {
    justify-content: end;
}
.ys {
    align-items: end;
}