:root {
    --c-graph: #ddd;
    --c-bg: #FCF;
    --c-pri: #90F;
    --c-sec: #90F;
    --c-acc: #0F0;
    --ui-height: 100px;
    --ui-el-h: 40px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "ab-kokikaku", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body {
    height: 100vh;
    background-color: var(--c-bg);
    color: var(--c-pri);
    overflow: hidden;
}
main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* z-index: -1; */
}

/* ====================== */
/* ====== ABSOLUTE ====== */
/* ====================== */
#buffer {
    display: none;
}
#ilogo {
    position: absolute;
    bottom: 0px;
    left: 100px;
    height:100px;
}
#GRAPH {
    position: absolute;
    left: 50px;
    top: 100px; 
}
#GRAPH-WRAPPER {
    width: 50vw;
    height: 50vh;
}

/* ====================== */
/* ====== GUI OOA ======= */
/* ====================== */
/* WRAPPERS */
#UI-wrapper {
    position: absolute;
    left: var(--ui-height);
    height: var(--ui-height);
    margin-left: -10px;
    width: calc(100vw - (var(--ui-height) * 2) + 20px);
    justify-content: space-between;
}
#form-wrapper {
    height: var(--ui-height);
    padding: 10px;
    gap:5px;
}
#audio-warpper {
    /* width: 250px; */
    height: var(--ui-height);
    padding: 10px;
    gap:5px;
}

/* ELEMENTS */
#username {

}
#loginbtn {
    
}
#recbtn {
    color: white;
    font-size: 10px;
    width: var(--ui-el-h);
    height: var(--ui-el-h);
    background-image: url('/assets/images/Ellipse.png');
    background-size: contain;
    background-size: 60%;
    background-position: 50%;
    background-repeat: no-repeat;
}
.recording {
    outline: 1px solid red;
    outline-offset: -2px;
    background-color: rgb(154, 0, 0);
    background-image: url('/assets/images/Stop.png') !important;
    background-size: 55% !important;
}
.recording:hover {
    background-color: rgb(0, 0, 0);
}
#cuebtn {
    width: var(--ui-el-h);
    height: var(--ui-el-h);
    background-image: url('/assets/images/Polygon.png');
    background-size: contain;
    background-size: 50%;
    background-position: 55% 50%;
    background-repeat: no-repeat;
}
#cuebtn:disabled {
    background-image: url('/assets/images/Polygon_disabled.png');
}
.playing {
    background-image: url('/assets/images/Pause.png') !important;
    background-size: 40% !important;
    background-position: 50% !important;
}

#p5js canvas {
    display: block;
    border-radius: 10px;
    background-color: black;
    width: 50px;
    height: var(--ui-el-h);
}
input {
    font-size: 16px;
    border: 1px solid #ccc;
    padding-left:10px;
    height: var(--ui-el-h);
    border-radius: 10px;
}
input:hover {
    background-color: #f0f0f0;
}
input:active {
    border: 1px solid #ccc;
    outline: 1px solid var(--c-pri);
}
input:focus {
    border: 1px solid #ccc;
    outline: 1px solid var(--c-pri);
    outline-offset: -2px;
}
button {
    padding: 1px 5px;
    min-width: var(--ui-el-h);
    height: var(--ui-el-h);
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 10px;
}
button:disabled {
    outline: 1px solid #ccc;
    outline-offset: -2px;
    
    background-color: #ddd;
}
button:disabled:active {
    background-color: #ddd;
}
button:hover {
    background-color: #ddd;
}
button:active {
    background-color: #eee;
}



/* FLEX CLASSES */
.flexr {
    display: flex;
    flex-direction: row;
}
.flexc {
    display: flex;
    flex-direction: column;
}
.xc {
    justify-content: center;
}
.yc {
    align-items: center;
}
.xs {
    justify-content: start;
}
.ys {
    align-items: start;
}
.xs {
    justify-content: end;
}
.ys {
    align-items: end;
}